<%- include('../shared/header.ejs') %>

<div class="container">
    <h2>What is this?</h2>
    <p>A crowdsourced, uninformed, and incredibly biased ranking of pokemon based on vibes alone.</p>
    <h2>How does this work?</h2>
    <p>Visit our <a href="/">main page</a> and cast your vote on which pokémon you think has better vibes! Your votes will be tallied and instantly affect the global ranking on our <a href="#">standings page</a>.</p>
    <h2>Who created this?</h2>
    <p>Thomas D. Raatz.</p>
    <h2>How can I get in on this?</h2>
    <p><a href="https://github.com/it-sd/sqc-project-Tominator10">Contribute to our project!</a></p>
</div>



</body>
</main>