<%- include('../shared/header.ejs') %>

<div class="container">

    <div class="header">
        <h2>Which has better vibes?</h2>
    </div>
    <div class="grid-container thirds">
        <div class="pokemon-panel">
            <h3>Pokemon 1</h3>
            <p>image here</p>
            <button class="button-primary" id="vote1">VOTE</button>
        </div>
        <div class="versus">
            <h3>VS</h3>
        </div>
        <div class="pokemon-panel">
            <h3>Pokemon 1</h3>
            <p>image here</p>
            <button class="button-primary" id="vote2">VOTE</button>
        </div>
    </div>
</div>



</body>
</main>